﻿@using WebStore.Domain.Entities.Identity
@model WebStore.Domain.Models.Employee

@{
    ViewData["Title"] = $"Карточка сотрудника {Model.LastName} {Model.FirstName}";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <div>
        <h4>Сотрудник</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Patronymic)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Patronymic)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>
        </dl>
    </div>
    <div>
        @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
        <a asp-action="Index">Назад к списку</a>
        @if (User.IsInRole(Role.Administrators))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Редактирование</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="text-danger">Удаление</a>
        }
    </div>
</div>
