﻿@using WebStore.Domain.Entities.Identity
@model IEnumerable<WebStore.Domain.Models.Employee>
@{
    ViewData["Title"] = "Сотрудники";
}

<div class="container">
    <h3>Сотрудники магазина</h3>
    <hr />

    @if (User.IsInRole(Role.Administrators))
    {
        <p>
            <a asp-action="Create" class="btn btn-default">Создать 1</a>
        </p>
        <p>
            <a asp-action="Edit" class="btn btn-default">Создать 2</a>
        </p>
    }

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
                <th></th>
                @if (User.IsInRole(Role.Administrators))
                {
                    <th></th>
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.LastName</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>
                    <td>@employee.Age</td>
                    <td>
                        @*<a asp-action="Details" asp-route-id="@employee.Id" asp-route="default"> *@
                        <a asp-action="Details" asp-route-id="@employee.Id">
                            <i class="fa fa-info"></i>
                        </a>
                    </td>
                    @if (User.IsInRole(Role.Administrators))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@employee.Id">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <form asp-action="DeleteConfirmed" asp-route-id="@employee.Id">
                                <button type="submit">
                                    <i class="fa fa-trash-o text-danger"></i>
                                </button>
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a asp-controller="Home" asp-action="Index">На главную</a>
    </p>

</div>
